@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-color {
    /* color:#ffc600 */
    color: #AD7A06;
}

.secondary-color {
    /* color:#ffc600 */
    color: #1A0000;
}

.text-color {
    color: #221F1B;
}

.brown {
    color: #7D4633;
}

.bg-primary {
    background: #FFF2E5;
}







